# Archivos y carpetas generados automáticamente
/build/
.gradle/

# Archivos de sistema
*.log
*.class

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Archivos del wrapper de Gradle que sí deben subirse
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat